{% load i18n %}
{% load static %}

<html>
<head>
<title>{% trans "Personnes NTP1" %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/ntp1grc/w3.css' %}">
    <link rel="stylesheet" href="{% static '/ntp1grc/w3-theme-black.css' %}">
</head>

<body>
    <header class="w3-row w3-theme-l1" id="myHeader">
         <div class="w3-threequarter w3-padding">
            <h4>{{ entete }}</h4>
         </div>

         <div class="w3-quarter w3-center">
         <form action="{% url 'set_language' %}" method="post">
         {% csrf_token %}
          <input name="next" type="hidden" value="{{ index }}" />
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              {% if language.code != LANGUAGE_CODE %}
                <input type="submit" class="w3-button w3-theme-l2" name="language" value="{{ language.code }}" />
              {% endif %}
          {% endfor %}
          </form>
         </div>
    </header>
    <div id="container">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="w3-container w3-padding-8">
        <h2 class="w3-amber">Mise a jour des donnees du dossier #{{ personne.codeGRC }}</h2>
<div class="w3-col" style="width:15%">
    .
</div>
<div class="w3-col" style="width:70%">
<form method="post">{% csrf_token %}
    <table class="w3-table-all">
    {{ my_form.as_table }}
    <tr><td><button type="submit" class="w3-button w3-amber" name="Savequit">Save and quit</button></td>
    </tr>
    </table>
</form>
</div>
<div class="w3-col" style="width:15%">
    .
</div>
    </div>
</body>
</html>